server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:payment}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP:localhost:9092}
  consumer:
    group-id: payment-group
    auto-offset-reset: earliest
  producer:
    acks: all

management:
  endpoints:
    web:
      exposure:
        include: '*'
