server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:trendylike_order_dev}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:peninsula03}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP:localhost:9092}
    consumer:
        group-id: order-group
        auto-offset-reset: earliest
    producer:
        acks: all
